<a class="twitter-timeline" href="https://twitter.com/{{ index .Params 0 }}?ref_src=twsrc%5Etfw">Tweets by {{ index .Params 0 }}</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">「数学は社会に出たら使わない」<br><br>これに対して「いや使うし」と言うのは間違っていて、「数学を使う人生も使わない人生も選べるように数学を学ぶんだよ」と言ってあげないと。<br>実際に数学なんて使わないで生きている人なんていくらでもいる。</p>&mdash; まろ@関数型言語作曲機械学習勉強してない (@_marony) <a href="https://twitter.com/_marony/status/1079582244149198848?ref_src=twsrc%5Etfw">2018年12月31日</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
