<p>
【ドローン撮影】稲取温泉街
<iframe width="560" height="315" src="https://www.youtube.com/embed/T98vUGpQx-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
【ドローン撮影】河津ループ橋
<iframe width="560" height="315" src="https://www.youtube.com/embed/6n7Ay4xsdwM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
【ドローン撮影】白浜大浜海水浴場
<iframe width="560" height="315" src="https://www.youtube.com/embed/v3-oCtSPGsk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
【ドローン撮影】田牛海水浴場
<iframe width="560" height="315" src="https://www.youtube.com/embed/WMpcT4QcAFk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
酒と女と大五郎
<iframe width="560" height="315" src="https://www.youtube.com/embed/yANz6JCAZpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
【初音ミク】空中散歩【オリジナル曲】
<iframe width="560" height="315" src="https://www.youtube.com/embed/hTnRftoXmAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
